.cart-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px;
  margin-bottom: 80px;
}

.cart-item-container img {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}

.cart-item-container .cart-item-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cart-item-details img {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}

.cart-item-variant-container {
  display: flex;
  flex-direction: row;
}
.cart-item-option-container {
  display: flex;
  flex-direction: column;
}
.cart-quantity-button {
  border: 1px solid grey;
  padding: 0px 5px;
  background-color: #e4e1de;
  margin: 10px;
}
